[Unit]
Description=Docker Application Container Engine
Documentation=https://docs.docker.com
After=network.target media.mount
Requires=network.target media.mount

[Service]
Type=idle
Environment=PATH=/storage/.docker/bin:/opt/bin:/opt/sbin:/usr/bin:/usr/sbin:/bin:/sbin
ExecStart=/storage/.docker/bin/dockerd --config-file /storage/.config/docker/daemon.json
TimeoutStartSec=30s
Restart=always
WorkingDirectory=/storage/.docker

[Install]
WantedBy=multi-user.target
Alias=docker.service
